<div class="callout">
  <h1>All Users (<%= @users.count %>)</h1>

  <div class="callout">
    <% @users.each do |user| %>
      <li><%= user.first_name %> <%= user.last_name %> (role: <%= user.role %>) </li>
    <% end %>
  </div>
</div>
