<div class="home-page">
  <div class="home-nav">
    <div class="text">
      <h1>Welcome!</h1>

      <h3>View All Users</h3>
      <h3><%= link_to 'View All Missions', missions_path %></h3>
    </div>
  </div>
</div>
